<% content_for :body_content_title, 'Muzička' %>

<% content_for :body do %>
  <% if @page.respond_to?('images') && @page.images.any? %>
    <div id="page-image">
      <% @page.images.each do |image| %>
          <%= image_tag image.thumbnail("710x200#c").url %>
     <% end %>
    </div>
  <% end %>

  <div id="page-body">
    <%= raw @page.content_for(:body) %>
  </div>

  <div id="mailinglist-subscription">
    <% flash.each do |m, k| %>
      <div class="flash <%= m %>" >
        <%= k.html_safe %>
      </div>
    <% end %>
      <%= render '/refinery/mailinglists/subscribers/form' %>
  </div>

  <% if @blog_posts.any? %>
  <div id="blog_home">
    <h2>Posledné články na blogu</h2>
    <% @blog_posts.each do |blog_post| %>

      <h3>
      <%= link_to blog_post_url(blog_post) do -%>
        <%= truncate blog_post.title,
          :length => 75,
          :preserve_html_tags => false %>
      <% end %>
      </h3>
      <%= blog_post.custom_teaser.html_safe unless blog_post.custom_teaser.nil? %>
    <% end %>
  </div>
  <% end %>

<% end %>

<%= render '/refinery/content_page' %>
