<div class="hemisquare right_side">
  <%= render '/seo_meta/form', :form => f %>

  <div class="field">
    <%= f.label :addthis_url %>
    <%= f.text_field :addthis_url, :class => "widest" %><br>
    <%= f.label :addthis_title %>
    <%= f.text_field :addthis_title, :class => "widest" %><br>
    <%= f.label :addthis_description %>
    <%= f.text_field :addthis_description, :class => "widest" %>
  </div>

</div>
