<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render "/refinery/head" %>
  <body id="<%= canonical_id @page %>">
    <%= render "/refinery/google_tag_manager" -%>
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
<%
  addthis_attributes = ''
  if @page.present?
     ['url', 'title', 'description'].each do |p|
      addthis_attributes += %Q(addthis:#{p}="#{h(@page["addthis_#{p}".to_sym])}" ) if @page["addthis_#{p}".to_sym].present?
    end
  end
%>
      <!-- AddThis Button BEGIN -->
      <div class="clearfix">
        <div class="addthis_toolbox addthis_default_style " style="height: 24px; float: right; width: 157px;" <%= addthis_attributes.html_safe %>>
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
      </div>
      <section id="page">
        <%= yield %>
        <div class="addthis_toolbox addthis_default_style " style="padding: 5px 20px;" <%= addthis_attributes.html_safe %>>
            <a class="addthis_button_facebook_like" fb:like:layout="box_count" fb:like:width="92"  style="width: 92px;"></a>
            <a class="addthis_button_tweet" tw:count="vertical"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
            <a class="addthis_counter"></a>
        </div>
      </section>
      <footer id="footer">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e04bc515401b2aa"></script>
  </body>
</html>
